{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/socilitarMatricula/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
{% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}
{% include 'parciais/_mensagem.html' %}

<form id="formulario" class="container-fluid p-0 h-50" method="POST">
    {% csrf_token %}
    <div id="area1">
        <div>
            <h5>Nome:</h5>
            {{formFormSolicitacaoMatricula.nome}}
        </div>
        <div>
            <h5>Sobrenome:</h5>
            {{formFormSolicitacaoMatricula.sobrenome}}
        </div>
        <div>
            <h5>CPF:</h5>
            {{formFormSolicitacaoMatricula.cpf}}
        </div>
        <div>
            <h5>E-mail:</h5>
            {{formFormSolicitacaoMatricula.email}}
        </div>
    </div>
    <div id="area2">
        <div>
            <h5>Motivo:</h5>
            {{formFormSolicitacaoMatricula.motivo}}
        </div>
    </div>
    <div id="area3">
        <button id="bnt-formulario" type="submit">
            <div id="carregando-formulario" class="carregando"></div>
            <h5 id="texto-formulario">Solicitar</h5>
        </button>
    </div>
</form>
{% endblock %}

{% block js %}
<script defer src="{% static 'js/socilitarMatricula/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}