{% extends 'base.html' %}
{% load static %}
{% load filtros %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}

<div id="carrocel-curso">
    <div id="card-carrocel">
        {% for curso in curso_carrocel %}
        <a href="" class="card-carrocel">
            <div class="card-carrocel-desc">
                <h3>{{ curso.nome }}</h3>
                <p>Autor(a): <span>{{ curso.autor.get_full_name }}</span></p>
            </div>
            <img src="{{ curso.img.url }}" alt="{{ curso.nome }}">
        </a>
        {% endfor %}
    </div>
    <div id="seta-esqueda" class="seta">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div id="seta-direita" class="seta">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>

<div id="categoria">
    <h2>Categoria</h2>
    <div id="categoria-img">
        {% for categoria in categorias %}
        <a href="{% url 'categoria' categoria.id %}" class="card-categoria">
            {{ categoria.img|safe }}
            <p>
                {{ categoria.nome }}
            </p>

        </a>
        {% endfor %}
    </div>
</div>

<div id="cursos">
    <h2>Cursos</h2>
    <div id="curso-card">
        {% for curso in cursos_recomendados%}
        <a href="{% url 'assistirVideo' curso.id %}" class="curso-card">
            <img src="{{ curso.img.url }}" alt="{{ curso.nome }}">
            <div class="curso-desc">
                <h4>{{ curso.nome }}</h4>
                <p>Autor(a): <span>{{ curso.autor.get_full_name }}</span></p>
                <p>Duração: <span>{{ curso|duracao_video_in_curso }}</span> min</p>
            </div>
            <div id="soliCurso">
                <i class="fa-solid fa-plus"></i>
            </div>
        </a>
        {% endfor %}
    </div>
    <div id="vermais">ver mais</div>
</div>

{% include 'parciais/_mensagem.html' %}

{% endblock %}

{% block js %}
<script defer src="{% static 'js/home/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}