{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/verPerfil/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
{% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}

{% include 'parciais/_mensagem.html' %}
{% endblock %}

{% block js %}
<script defer src="{% static 'js/verPerfil/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}