{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/verPerfil/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
{% endblock %}

{% block title %} Ver Perfil {% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}

<form id="borda-perfil" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="img-perfil">
        <label for="idarquivo" id="alterar_foto">
            <i class="fa-solid fa-image"></i>
            <p>Alterar foto</p>
        </label>
        <input id="idarquivo" name="arquivo" type="file" accept="image/*">
        {% if user.imagem_perfil %}
        <img src="{{ user.imagem_perfil.url }}" alt="">
        {% else %}
        <img src="{% static 'img/perfil.png' %}" alt="">
        {% endif %}
    </div>
    <div id="dado-perfil">
        <div class="label-input">
            <h5>Nome completo:</h5>
            <input type="text" value="{{ user.get_full_name }}" readonly>
        </div>
        <div class="label-input">
            <h5>Usuário:</h5>
            <input type="text" value="{{ user.username }}" readonly>
        </div>
        <div class="label-input">
            <h5>Cpf:</h5>
            <input type="text" value="{{ user.cpf }}" readonly>
        </div>
        <div class="label-input">
            <h5>E-mail:</h5>
            <input type="text" value="{{ user.email }}" readonly>
        </div>
        <button type="submit">
            <div class="carregamento"></div>
            <p>Salvar</p>
        </button>
    </div>
</form>

{% include 'parciais/_mensagem.html' %}
{% endblock %}

{% block js %}
<script defer src="{% static 'js/verPerfil/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}