body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tabela {
    margin-top: 130px;
    width: 1100px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

table thead tr {
    animation: 20s cores_fundo infinite;
    color: #fff;
}

table thead tr th,
table tbody tr td {
    text-align: center;
}

table thead tr th {
    padding: 8px;
}

table tbody tr td a:nth-child(1) {
    padding-right: 8px;
    color: #52d813;
}

table tbody tr td a:nth-child(2) {
    color: #d81313;
}

#mensagem {
    top: 100px;
    right: 5px;
}

@media screen and (max-width: 1200px) {
    #tabela {
        width: 700px;
    }
}