body {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
}

.fundo-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 105;
    width: 100%;
    height: 100%;
}

#cabecalho-modal-foto {
    width: 50%;
    height: 50%;
    animation: cores_fundo 10s infinite;
    border: var(--espessura--cards--cad--log) solid var(--cor--fundo--3);
    box-shadow: var(--sombra--1);
    border-radius: 10px;
}

#titulo-modal-foto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    color: var(--cor--fundo--3);
    font-weight: bold;

}

#conteudo-modal-foto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px);
}

#conteudo-modal-foto input[type="file"] {
    color: var(--cor--fundo--3);
    font-weight: bold;
}

#conteudo-modal-foto input[type="file"]::-webkit-file-upload-button {
    color: var(--cor--fundo--3);
    font-weight: bold;
    background-color: var(--cor--fundo--6);
    border: 1px solid var(--cor--fundo--3);
    border-radius: 5px;
}

#img-conteudo-modal-foto {
    max-width: 100%;
    max-height: 70%;
    border-radius: 10px;
    box-shadow: var(--sombra--1);
    object-fit: cover;
}

#titulo-modal-foto i {
    cursor: pointer;
    color: red;
    font-size: 2rem;
}

#formulario-curso {
    position: relative;
    margin-top: 130px;
    width: 80%;
    max-height: 80vh;
}

#cabecalho-curso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border: 2px solid var(--cor--fundo--4);
    border-radius: 10px;
    box-shadow: var(--sombra--1);
    animation: cores_fundo 10s infinite;
    padding: 0 20px;
}

#cabecalho-curso input {
    border: none;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--cor--fundo--5);
}

#cabecalho-curso input::placeholder {
    color: #fff;
}

#operacao-curso {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 100%;
}

#operacao-curso button,
#operacao-curso a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor--fundo--5);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.carregamento {
    width: 70%;
    height: 70%;
    border-radius: 10px;
    border: 3px solid var(--cor--fundo--3);
    border-top: 3px solid var(--cor--fundo--4);
    animation: is-rotating 1s infinite;
}

#titulo-curso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

#conteudo-curso {
    margin: 10px auto;
    width: 85%;
    height: auto;
}

.caixa-suspensa {
    width: 100%;
    height: auto;
    border: 2px solid var(--cor--fundo--4);
    border-radius: 10px;
    box-shadow: var(--sombra--1);
    margin-bottom: 10px;
}

.cabecalho-caixa-suspensa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    animation: cores_fundo 10s infinite;
    border-radius: 5px;
}

.titulo-cabecalho-caixa-suspensa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0 30px;
}

.titulo-cabecalho-caixa-suspensa input {
    border: none;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    border-bottom: 2px solid var(--cor--fundo--5);
}

.titulo-cabecalho-caixa-suspensa input::placeholder {
    color: #fff;
}

.operacao-cabecalho-caixa-suspensa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin: 0 30px;
    color: #fff;
}

.operacao-cabecalho-caixa-suspensa i {
    cursor: pointer;
}

.expandir-capitulo {
    font-size: 1.6rem;
}

.deletar-video,
.deletar-capitulo {
    color: #ff0000;
}

.conteudo-caixa-suspensa {
    margin: 10px auto;
    width: 100%;
    height: auto;
}

.video-capitulo-curso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
}

.cabecalho-video-capitulo-curso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.cabecalho-video-capitulo-curso input {
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid var(--cor--fundo--5);
}

.operacao-video-capitulo-curso {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: auto;
}

.operacao-video-capitulo-curso input {
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid var(--cor--fundo--5);
}

#mensagem {
    top: 70px;
    right: 5px;
}


@media screen and (max-width: 900px) {
    #formulario-curso {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    #formulario-curso {
        width: 100%;
    }

    #conteudo-curso {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .operacao-video-capitulo-curso input[type="file"] {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 400px) {

    #titulo-curso input,
    .titulo-cabecalho-caixa-suspensa input,
    .cabecalho-video-capitulo-curso input,
    .operacao-video-capitulo-curso input {
        font-size: 0.7rem;
    }
}