{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/visualizacaoSolicitacaoMatricula/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
{% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}

<form id="formulario" class="container-fluid p-0 h-50" method="POST">
    {% csrf_token %}
    <div id="area1">
        <div>
            <h5>Nome:</h5>
            <input type="text" value="{{ solicitacao.nome }}" readonly>
        </div>
        <div>
            <h5>Sobrenome:</h5>
            <input type="text" value="{{ solicitacao.sobrenome }}" readonly>
        </div>
        <div>
            <h5>CPF:</h5>
            <input type="text" value="{{ solicitacao.cpf }}" readonly>
        </div>
        <div>
            <h5>E-mail:</h5>
            <input type="text" value="{{ solicitacao.email }}" readonly>
        </div>
    </div>
    <div id="area2">
        {% if user|in_grups:'desenvolvedor' or user|in_grups:'administrativo' %}
        <div>
            <h5>Setor:</h5>
            <select name="" id="">
                <option value="0">selecione um grupo</option>
                {% for grupo in grupos %}
                <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div>
            <h5>Motivo:</h5>
            <textarea name="" id="" cols="30" rows="10" readonly>
                {{ solicitacao.motivo }}
                </textarea>
        </div>
    </div>
    <div id="area3">
        <button name="btnAprovar" type="submit">Aprovar</button>
        <button name="btnAprovar" type="submit">Recusar</button>
    </div>
</form>

</form>

{% include 'parciais/_mensagem.html' %}
{% endblock %}

{% block js %}
<script defer src="{% static 'js/visualizacaoSolicitacaoMatricula/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}