{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/adicionarCurso/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
<link rel="stylesheet" href="{% static 'css/paginacao/style.css' %}">
{% endblock %}

{% block title %}Adicionar Curso{% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}


<form method="POST" id="formulario-curso">
    {% csrf_token %}
    <div id="modal-foto" class="fundo-modal ">
        <div id="cabecalho-modal-foto">
            <div id="titulo-modal-foto">
                <h3 class="mx-4">Adicionar foto de fundo</h3>
                <i class="fa-solid fa-times fechar-modal-foto mx-4"></i>
            </div>
            <div id="conteudo-modal-foto">
                <input id="inuptFotoCurso" name="inuptFotoCurso" type="file" name="" id="inuptFotoCurso">
                <img id="img-conteudo-modal-foto" src="" alt="">
            </div>
        </div>
    </div>
    <div id="cabecalho-curso">
        <div id="titulo-curso">
            <input type="text" required id="inputTituloCurso" name="inputTituloCurso" placeholder="Titulo do curso:">
        </div>
        <div id="operacao-curso">
            <a id="add-foto-fundo" title="Adicionar a foto do curso"><i class="fa-solid fa-image"></i></a>
            <a id="add-capitulo" title="Adicionar capítulo"><i class="fa-solid fa-plus"></i></a>
            <button title="Criar curso" type="submit" id="btn-criar">
                <i class="fa-solid fa-check"></i>
                <div class="carregamento"></div>
            </button>
        </div>
    </div>
    <div id="conteudo-curso">
        <div class="caixa-suspensa">
            <div class="cabecalho-caixa-suspensa">
                <div class="titulo-cabecalho-caixa-suspensa">
                    <input required id="inputNomeCapitulo" name="inputNomeCapitulo" type="text" placeholder="Titulo do capítulo:">
                </div>
                <div class="operacao-cabecalho-caixa-suspensa">
                    <i title="Expandir capítulo" class="fa-solid fa-caret-down expandir-capitulo"></i>
                    <i title="Adicionar video" class="fa-solid fa-plus add-video"></i>
                    <i title="Deletar capitulo" class="fa-solid fa-trash deletar-capitulo"></i>
                </div>
            </div>
            <div class="conteudo-caixa-suspensa">
                <div class="video-capitulo-curso">
                    <div class="cabecalho-video-capitulo-curso">
                        <input required type="text" id="inputNomeVideo" name="inputNomeVideo" placeholder="Titulo do video:">
                    </div>
                    <div class="operacao-video-capitulo-curso">
                        <input required type="text" id="inputUrlVideo" name="inputUrlVideo" placeholder="Url do video:">
                        <i title="Deletar video" class="fa-solid fa-trash deletar-video"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div id="mensagem" class="alert " role="alert">
</div>

{% include 'parciais/_mensagem.html' %}
{% endblock %}

{% block js %}
<script defer src="{% static 'js/adicionarCurso/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}