body {
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --width--input: 500px;
    --height--input: 40px;
}


#formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 80px;
    grid-template-areas: 'area1 area2' 'area3 area3';
}

#area3,
#area2,
#area1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    grid-area: area1;
}

#area2 div,
#area1 div {
    width: calc(var(--width--input) + 20px);
}

#area2 div h5,
#area1 div h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cor--fundo--5);
}

#area2 div select,
#area2 div textarea,
#area1 div input {
    width: var(--width--input);
    height: var(--height--input);
    border: 1px solid var(--cor--fundo--5);
    border-radius: 5px;
    padding: 0 10px;
    box-shadow: var(--sombra--1);
}

#area2 div textarea {
    height: auto;
}

#area2 {
    grid-area: area2;
    margin-left: 50px;
    align-items: flex-start;
}

#area3 {
    justify-content: flex-start;
    align-items: center;
    grid-area: area3;
}

#area3 button {
    width: 200px;
    height: 50px;
    background-color: var(--cor--fundo--5);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid var(--cor--fundo--3);
    border-radius: 5px;
    box-shadow: var(--sombra--1);
}

#mensagem {
    top: 100px;
    right: 5px;
}

@media (max-width: 1100px) {
    :root {
        --width--input: 350px;
    }
}

@media (max-width: 800px) {
    :root {
        --width--input: 290px;
    }
}

@media (max-width: 800px) {
    body {
        display: flex;
        align-items: flex-start;
    }

    #formulario {
        margin-top: 120px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 60px;
        grid-template-areas: 'area1' 'area2' 'area3';
    }

    #area1,
    #area2 {
        margin-left: 0;
        align-items: center;
    }
}