#cabecalho {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#conteudo_cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    animation: cores_fundo 10s infinite;
}

#informacao-tela {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 40px;
    animation: cores_fundo 10s infinite;
    border-radius: 0 0px 10px 10px;
    border-bottom: 3px solid var(--cor--fundo--3);
    border-left: 3px solid var(--cor--fundo--3);
    border-right: 3px solid var(--cor--fundo--3);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

#menu-icon {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}

#cbx-menu:checked~#menu-lateral {
    width: 300px;
    transition: 0.5s;
}

#cabecalho h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    line-height: 60px;
    margin-left: 100px;
}

#pesquisar {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20%;
    width: 50%;
    height: 70%;
}

#pesquisar input {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: .5rem;
    border: 2px solid var(--cor--fundo--3);
    background-color: var(--fundo-color);
    color: var(--texto-color);
}

#pesquisar input::placeholder {
    color: var(--texto-color);
}

#pesquisar i {
    position: absolute;
    right: 10px;
    color: var(--cor--fundo--3);
}



@media screen and (max-width: 950px) {

    #menu-icon {
        display: flex;
    }

    #cabecalho h3 {
        display: none;
    }
}

@media screen and (max-width: 4000px) {

    #informacao-tela {
        width: 300px;
    }
}