{% extends 'base.html' %}
{% load static %}
{% load filtros %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/meuCurso/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
{% endblock %}

{% block title %} Meus curso {% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}

<div id="container-curso">
    {% if curso %}
    {% for curso in curso %}
    <div class="card-curso">
        <img src="{{curso.img.url}}" alt="">
        <div class="dado-curso">
            <div class="info-curso">
                <h3>{{curso.nome}}</h3>
                <p>{{curso.autor.get_full_name}}</p>
                <div class="controle-curso">
                    <a title="Modificar curso" id="continuar" href="">
                        <i class="fa-solid fa-file-invoice"></i>
                    </a>
                    {% if curso.aprovado %}
                    <a class="bg-success" title="Aprovado" id="continuar">
                        <i class="fa-solid fa-check"></i>
                    </a>
                    {% else %}
                    <a class="bg-warning" title="em a avaliação" id="continuar">
                        <i class="fa-solid fa-chart-simple"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="progresso-curso">
                <div class="container-progressao">

                {% if not curso.prova %}
                    <a class="add" href="{% url 'adicionarProva' curso.id %}">Adicionar Prova</a>
                {% else %}
                    <a class="add" href="">Modificar Prova</a>
                {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div id="semResultado">
        <h4>não possui nenhum curso ...<h4>
                <a href="{% url 'home' %}" title="ver os curso" href="">ver os curso</a>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block js %}
<script defer src="{% static 'js/meuCurso/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}