{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/aprovarCurso/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
<link rel="stylesheet" href="{% static 'css/paginacao/style.css' %}">
{% endblock %}

{% block title %}Aprovar Curso{% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}

<form id="campo-pesquisa">
    <div id="filtro">
      <div id="quantidade"></div>
      <button id="limpar" name="btnlimpar" type="submit">Limpar</button>
    </div>
    <div id="pequisa">
      <button title="Pesquisar" name="btnPesquisar" type="submit">
        <i class="fa-solid fa-search"></i>
      </button>
      <input type="text" id="pesquisar" name="pesquisar" placeholder="Pesquisar" />
    </div>
  </form>

<table id="tabela" class="container-sm h-auto">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Autor</th>
            <th>E-mail</th>
            <th>Opções</th>
            
        </tr>
    </thead>
    <div id="paginacao">
    <tbody id="tabela-corpo">
        {% for curso in cursos %}
        <tr>
            <td>{{curso.nome}}</td>
            <td>{{curso.autor.get_full_name}}</td>
            <td>{{curso.autor.email}}</td>
            <td id="opcoes">
                <a href="{% url 'visualizacaoSolicitacaoCurso' curso.id %}"><i class="fa-solid fa-users-viewfinder""></i></a>
                <a href="{% url 'deletarCurso' curso.id %}"><i class="fa-solid fa-trash-can icons ms-2"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </div>
</table>
<div id="pagination">
    <span id="pagina-anterior">&lt;</span>
    <span id="info-paginas"></span>
    <span id="pagina-proxima">&gt;</span>
  </div>

{% include 'parciais/_mensagem.html' %}
{% endblock %}

{% block js %}
<script defer src="{% static 'js/aprovarCurso/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}