{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/verificar_codigo/style.css' %}">
{% endblock %}

{% block title %} Verificar Código {% endblock %}

{% block main %}
<form id="codigo-texto" method="POST" autocomplete="off">
    {% csrf_token %}
    <h2 class="ms-4">verificar codigo</h2>
    <div id="cad-codigo">
        <div id="cad-codigo-input">
            {{ formVerificarCodigo }}
        </div>
        <div id="cad-codigo-btn">
            <button id="btn-verificar-codigo" name="btn-verificar-codigo" type="submit">
                <div id="carregando-verificar" class="carregando"></div>
                <h5 id="texto-verificar">Enviar</h5>
            </button>
        </div>
        <div id="cad-codigo-mandar">
            <button id="btn-reenviar-codigo" name="btn-reenviar-codigo" ">Reenviar código?</button>
            <time>00:00</time>
        </div>
    </div>
</form>
{% include 'parciais/_mensagem.html' %}
{% endblock %}

{% block js %}
<script defer src=" {% static 'js/verificar_codigo/scripts.js' %}"></script>
                {% endblock %}