{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/verificar_codigo/style.css' %}">
{% endblock %}

{% block main %}
<form id="codigo-texto" method="POST" autocomplete="off">
    {% csrf_token %}
    <h2 class="ms-4">verificar codigo</h2>
    <div id="cad-codigo">
        <div id="cad-codigo-input">
            {{ formVerificarCodigo }}
        </div>
        <div id="cad-codigo-btn">
            <button name="btn-verificar-codigo" type="submit">Verificar</button>
        </div>
        <div id="cad-codigo-mandar">
            <a href="{% url 'remandar_codigo' %}">Reenviar código?</a>
        </div>
    </div>
</form>
{% include 'parciais/_mensagem.html' %}
{% endblock %}

{% block js %}
<script defer src="{% static 'js/verificar_codigo/scripts.js' %}"></script>
{% endblock %}