{% load static %}

<aside id="menu-lateral">
    <div id="logo-menu">
        <div id="img-logo">
            {% if user.imagem_perfil %}
                <img src="{{ user.imagem_perfil.url }}" alt="">
            {% else %}
            {% endif %}
            
        </div>
    </div>
    <div id="menu-conteudo">
        <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i>
            <h3>Home</h3>
        </a>
        <a href=""><i class="fa-solid fa-book"></i>
            <h3>Cursos</h3>
        </a>
        <a href=""><i class="fa-solid fa-folder"></i>
            <h3>Arquivos</h3>
        </a>
        <a href=""><i class="fa-solid fa-paperclip"></i>
            <h3>Histórico</h3>
        </a>
    </div>
    <label for="cbx-menu" id="menu-rodape">
        <i id="expandir-menu" class="fa-solid fa-angle-right"></i>
    </label>
</aside>