{% load static %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?pesquisar={{ request.GET.pesquisar }}&page={{ posts.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
        {% endif %}
    
        <span class="current">
            {{ posts.number }} de {{ posts.paginator.num_pages }}
        </span>
    
        {% if posts.has_next %}
            <a href="?pesquisar={{ request.GET.pesquisar }}&page={{ posts.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
        {% endif %}
    </span>
</div>