{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/listarSolicitarMatricula/style.css' %}">
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sair/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cabecalho/style.css' %}">
<link rel="stylesheet" href="{% static 'css/paginacao/style.css' %}">
{% endblock %}

{% block main %}
{% include 'parciais/_cabecalho.html' %}
{% include 'parciais/_menu.html' %}
{% include 'parciais/_sair.html' %}

<div id="tabela" class="h-auto">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Opções</th>
            </tr>
        </thead>
        {% if posts %}
        {% for solicitacao in posts %}
        <tr>
            <td>{{ solicitacao.nome }}</td>
            <td>{{ solicitacao.sobrenome }}</td>
            <td>{{ solicitacao.cpf }}</td>
            <td>{{ solicitacao.email }}</td>
            <td>
                <a href="{% url 'visualizarSolicitacao' solicitacao.id %}" title="Ver a solicitação de {{ solicitacao.nome }}"><i
                        class="fa-solid fa-users-viewfinder"></i></a>
                <a href="{% url 'deletarSolicitacao' solicitacao.id %}"
                    title="Negar a solicitação de {{ solicitacao.nome }}"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Não há solicitações de matrícula</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% include 'parciais/_paginacao.html' %}
{% include 'parciais/_mensagem.html' %}
{% endblock %}

{% block js %}
<script defer src="{% static 'js/listarSolicitarMatricula/scripts.js' %}"></script>
<script defer src="{% static 'js/menu/scripts.js' %}"></script>
{% endblock %}