{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static '/img/icon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/padrao/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mensagem/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modo_tela/style.css' %}">
    {% block css %}
    {% endblock %}
    <title>{{user.username}} | {% block title %}{% endblock %}</title>
</head>
<input type="checkbox" id="cbx-menu" class="cbx">
<body class="modo-claro">
    {% block main %}
    {% endblock %}
    {% include 'parciais/_modo_tela.html' %}
</body>

{% block js %}
{% endblock %}
<script defer src="{% static 'js/modo_tela/scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script defer src="{% static 'js/base/scripts.js' %}"></script>

</html>