{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/redefinir_senha/style.css' %}">
{% endblock %}

{% block title %} Redefinir Senha {% endblock %}
{% block main %}

<form id="cad-vef-senha-texto" method="POST">
    {% csrf_token %}
    <h2 class="ms-4">redefinir senha</h2>
    <div id="cad-vef-senha">
        <div class="cad-vef-senha-input">
            {{ formAlterarSenha.senha1 }}
        </div>
        <div class="cad-vef-senha-input">
            {{ formAlterarSenha.senha2 }}
        </div>
        <p><span>Observação:</span> a senha tem que ter no minimo 6 caracteres, uma letra maiúscula, um número e um
            letra</p>
        <div id="cad-vef-senha-btn"></div>
        <button id="btn-cad-vef-senha" class="btn-cad-vef-senha" type="submit">
            <div id="carregando-vef" class="carregando"></div>
            <h5 id="texto-vef">Redefinir</h5>
        </button>
    </div>
</form>
{% include 'parciais/_mensagem.html' %}

{% endblock %}

{% block js %}
<script defer src="{% static 'js/redefinir_senha/scripts.js' %}"></script>
{% endblock %}