body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-color);
}

:root {
    --width--input: 500px;
    --height--input: 40px;
}

#formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 80px;
    gap: 10px;
    grid-template-areas: 'area1 area2' 'area3 area3';
}

#area3,
#area2,
#area1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    grid-area: area1;
}

#area2 div,
#area1 div {
    width: calc(var(--width--input) + 20px);
}

#area2 div h5,
#area1 div h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cor-fundo-alterada-1);
}

#area2 div select,
#area2 div textarea,
#area2 div input,
#area1 div input {
    width: var(--width--input);
    height: var(--height--input);
    border: 2px solid var(--cor-fundo-alterada-1);
    background-color: transparent;
    color: var(--texto-color);
    border-radius: 5px;
    padding: 0 10px;
    box-shadow: var(--sombra--1);
}

#area2 div select option {
    background-color: var(--fundo-color);
    color: var(--texto-color);
}

#area1 div input::placeholder {
    color: var(--texto-color);
}

#area2 div textarea {
    max-height: 130px;
    min-height: 100px;
}

#area2 div textarea {
    height: auto;
}

#area2 {
    grid-area: area2;
    margin-left: 50px;
    align-items: flex-start;
}

#area3 {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    grid-area: area3;
}

#area3 button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--cor--fundo--5);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid var(--cor--fundo--3);
    border-radius: 5px;
    box-shadow: var(--sombra--1);
}

#area3 button:nth-child(1) {
    background-color: rgb(5, 139, 5);
}

#area3 button:nth-child(2) {
    background-color: rgb(139, 5, 5);
}

#mensagem {
    top: 100px;
    right: 5px;
}

#texto-formulario {
    padding-top: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#carregando-aprovar {
    border: 4px solid rgb(13, 121, 13);
    border-top: 6px solid rgb(126, 199, 18);

}

#carregando-recusar {
    border: 4px solid rgb(121, 13, 13);
    border-top: 6px solid rgb(199, 18, 18);

}

.carregando {
    animation: is-rotating 1s infinite;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

@media (max-width: 1100px) {
    :root {
        --width--input: 350px;
    }
}

@media (max-width: 800px) {
    :root {
        --width--input: 290px;
    }
}

@media (max-width: 800px) {
    body {
        display: flex;
        align-items: flex-start;
    }

    #formulario {
        margin-top: 120px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 150px;
        grid-template-areas: 'area1' 'area2' 'area3';
    }

    #area1,
    #area2 {
        margin-left: 0;
        align-items: center;
    }

    #area3 {
        flex-direction: column;
    }
}