body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    animation: 20s cores_fundo infinite;
}

label {
    display: none;
}

ul {
    display: none;
}

:root {
    --width--card: 700px;
    --height--card: 350px;
}

#codigo-texto {
    height: calc(var(--height--card) + 50px);
}

#codigo-texto h2 {
    color: var(--cor--fundo--3);
    text-transform: capitalize;
}

#cad-codigo {
    width: var(--width--card);
    height: var(--height--card);
    border: var(--espessura--cards--cad--log) solid var(--cor--fundo--3);
    border-radius: 1rem;
}

#cad-codigo-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 70px;
    width: 100%;
    height: 120px;
}

#cad-codigo-input input {
    width: 60px;
    height: 90%;
    border: 2px solid var(--cor--fundo--3);
    border-radius: .5rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    box-shadow: var(--sombra--1);
}

#cad-codigo-input input:placeholder-shown {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

#cad-codigo-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 80px;
}

#cad-codigo-btn button {
    width: 100px;
    height: 40px;
    border: var(--espessura--cards--cad--log) solid var(--cor--fundo--3);
    border-radius: 1rem;
    background-color: var(--cor--fundo--6);
    color: var(--cor--fundo--3);
    font-weight: bold;
    opacity: .9;
    box-shadow: var(--sombra--1);
    text-transform: capitalize;
}

#cad-codigo-btn button:hover {
    scale: 1.1;
}

#cad-codigo-mandar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40px;
}

#cad-codigo-mandar button {
    width: auto;
    height: 40px;
    background-color: transparent;
    text-transform: capitalize;
    color: var(--cor--fundo--3);
    font-weight: bold;
    margin-left: 10px;
    border: none;
    text-decoration: none;
}

time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 80%;
    border: 2px solid var(--cor--fundo--3);
    border-radius: .5rem;
    color: var(--cor--fundo--3);
    font-weight: bold;
    margin-left: 10px;
}

#mensagem {
    left: 5px;
}

@media screen and (max-width: 800px) {
    :root {
        --width--card: 500px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --width--card: 400px;
        --height--card: 300px;
    }

    #cad-codigo-input {
        margin-top: 50px;
    }

    #cad-codigo-input input {
        width: 40px;
        height: 60%;
        font-size: 2.5rem;
    }

    #cad-codigo-input input:placeholder-shown {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --width--card: 300px;
    }

    #cad-codigo-input input {
        width: 30px;
        height: 50%;
        font-size: 1.5rem;
    }

    #cad-codigo-input input:placeholder-shown {
        font-size: 1.5rem;
    }
}