<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div
        style="width: 500px; height: 400px; border: 2px solid #143180; background-color: #3c91d1; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
        <div style="width: 100%; height: 80px; background-color: #073e7b; border-bottom: 2px solid #143180;">
            <h1
                style="text-transform: capitalize; font-weight: bold; color: #fff; margin: 0px; padding-top: 15px; text-align: center;">
                eadscientia
            </h1>
        </div>
        <div
            style="width: 100%; height: 35px; background-color: #0863a9; margin-top: 20px; border-bottom: 2px solid #143180; border-top: 2px solid #143180;">
            <p style="text-align: center; margin-top: 7px; color: #fff; font-weight: bold; font-size: 20px;">Código de
                verificação</p>
        </div>

        <div style="width: 100%; height: 120px; margin-top: 35px;">
            <span
                style="height: 80%; width: 50px; display: inline-block; border: 2px solid #30b1da; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; background-color: #fff; margin-left: 60px; padding-top: 20px; text-align: center; font-size: 45px; font-weight: bold; box-sizing: border-box;">{{ token|slice:'0:1' }}</span>
            <span
                style="height: 80%; width: 50px; display: inline-block; border: 2px solid #30b1da; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; background-color: #fff; margin-left: 10px; padding-top: 20px; text-align: center; font-size: 45px; font-weight: bold; box-sizing: border-box;">{{ token|slice:'1:2' }}</span>
            <span
                style="height: 80%; width: 50px; display: inline-block; border: 2px solid #30b1da; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; background-color: #fff; margin-left: 10px; padding-top: 20px; text-align: center; font-size: 45px; font-weight: bold; box-sizing: border-box;">{{ token|slice:'2:3' }}</span>
            <span
                style="height: 80%; width: 50px; display: inline-block; border: 2px solid #30b1da; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; background-color: #fff; margin-left: 10px; padding-top: 20px; text-align: center; font-size: 45px; font-weight: bold; box-sizing: border-box;">{{ token|slice:'3:4' }}</span>
            <span
                style="height: 80%; width: 50px; display: inline-block; border: 2px solid #30b1da; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; background-color: #fff; margin-left: 10px; padding-top: 20px; text-align: center; font-size: 45px; font-weight: bold; box-sizing: border-box;">{{ token|slice:'4:5' }}</span>
            <span
                style="height: 80%; width: 50px; display: inline-block; border: 2px solid #30b1da; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; background-color: #fff; margin-left: 10px; padding-top: 20px; text-align: center; font-size: 45px; font-weight: bold; box-sizing: border-box;">{{ token|slice:'5:6' }}</span>
        </div>
    </div>
</body>

</html>